<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mybatis.mapper.AuctionOrderMapper">
	<insert id="insertAuctionOrder" parameterType="Order">
		insert into Auction (orderId, itemId, buyerId, buyerName, phoneNum, zipCode, addStreet, addDetail, price, quantity, pg, pay_method, orderDate, deliveryLocation, deliveryRequest, invoiceNumber, email, status) 
		Values 
		(orderId_seq, #{itemId}, #{buyerId}, #{buyerName}, #{phoneNum}, #{zipCode}, #{addStreet} #{addDetail}, #{price}, #{quantity}, #{pg}, #{pay_method}, #{orderDate}, #{deliveryLocation}, #{deliveryRequest}, 0, #{email}, #{status});
	</insert>

	<select id="getBuyAuction" resultType="Order" parameterType="java.lang.int">
		Select o.orderId, a.itemId, a.itemName, a.price, o.orderDate 
		From Auction a, AuctionOrder o 
		Where o.buyerId = #{buyerId} and a.itemId = o.itemId;
	</select>
	
	<select id="getAuctionOrderDetailInfo" resultType="Order" parameterType="java.lang.int">
		Select orderId, itemId, buyerId, buyerName, phoneNum, zipCode, addStreet, addDetail, price, 
			quantity, pg, pay_method, orderDate, deliveryLocation, deliveryRequest, invoiceNumber,
			orderStatus, email 
		From AuctionOrder 
		Where orderId = #{orderId};
	</select>
	
	<select id="getAuctionOrderBuyersInfo" resultType="Order" parameterType="java.lang.int">
		Select orderId, buyerId, buyerName, zipCode, addStreet, addDetail, phoneNum 
		From AuctionOrder 
		Where itemId = #{itemId};
	</select>
	
	<update id="updateBuyerInfo" parameterType="Order">
		Update AuctionOrder 
		set buyerName = #{buyerName}, phoneNum = #{phoneNum} 
		Where orderId = #{orderId};
	</update>
	
	<update id="updateDeliveryInfo" parameterType="Order">
		Update AuctionOrder 
		set zipCode = #{zipCode}, addStreet = #{addStreet}, addDetail = #{addDetail}  
		Where orderId = #{orderId};
	</update>
	
	<update id="updateInvoiceNumberInfo" parameterType="Order">
		Update AuctionOrder 
		set invoiceNumber = #{invoiceNumber} 
		Where orderId = #{orderId};
	</update>
	
	<update id="updateStatus" parameterType="java.lang.int">
		Update AuctionOrder 
		set orderStatus = '취소' 
		Where  orderId=#{orderId};
	</update>
	
	<select id="getCancelInfo" resultType="Order" parameterType="Order">
		Select orderId, itemId, itemNmae, buyerId, price, orderDate, email, pay_method  
		From AuctionOrder 
		Where orderId = #{orderId};
	</select>
	
	<select id="getCompletePaymentInfo" parameterType="Order">
		Select orderId, itemId, itemName, buyerId, price, orderDate, zipCode, addSreet, 
		addDetail, pay_method 
		From AuctionOrder 
		Where orderId = #{orderId};
	</select>

</mapper>