<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemrior.dao.mybatis.mapper.SearchMapper">
    <insert id="addSearchRecord" parameterType="java.util.Map">
        INSERT INTO Search (userId, searchWord)
        VALUES (#{userId}, #{searchWord})
    </insert>
    
    <select id="getRecentSearches" parameterType="int"
    		 resultType="Search">
        SELECT * FROM Search WHERE userId = #{userId}
    </select>

    <select id="getSearchHistoryByWord" resultType="Search"> 
        SELECT * FROM Search WHERE userId = #{userId} AND searchWord = #{searchWord}
    </select>
    
</mapper>