<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mybatis.mapper.UGTHistryMapper">

	<insert id="insertUsedGoodsTransactionHistory" parameterType="insertUsedGoodsTransactionHistory">
		Insert into UsedGoodsTransactionHistory
		(itemId, buyerId, transactionDate)
		Values 
		(#{h.itemId}, #{h.buyerId}, #{h.transactionDate});
	</insert>

<!-- 
	<update id="updateBuyerReviewYorN" parameterType="java.lang.int">
		Update UsedGoodsTransactionHistory set buyerRevuewYorN = 'Y' 
		Where itemId = #{itemId};
	</update>
	
	<update id="updateSellerReviewYorN" parameterType="java.lang.int">
		Update UsedGoodsTransactionHistory set sellerRevuewYorN = 'Y' 
		Where itemId = #{itemId};
	</update>
 -->
	
	<select id="getUsedGoodsBuyerHistory" resultType="UsedGoodsTransactionHistory" parameterType="java.lang.int">
		Select u.itemId, u.itemName, u.price, u.userId, h.buyerId, h.transactionDate 
		From UsedGoods u, UsedGoodsTransactionHistory h 
		Where h.itemId = u.itemId and h.buyerId = #{buyerId};
	</select>

</mapper>