<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemrior.dao.mybatis.mapper.CategoryMapper">
    <select id="getCategory" parameterType="Integer" resultType="Category">
        SELECT * FROM category WHERE catId = #{catId}
    </select>

    <select id="getCategoryList" resultType="Category">
        SELECT * FROM category
    </select>

    <insert id="addCategory" parameterType="Category">
        INSERT INTO category (catId, catName) VALUES (#{catId}, #{catName})
    </insert>
    
    <update id="updateCategory" parameterType="Category">
        UPDATE category SET catName = #{catName} WHERE catId = #{catId}
    </update>

    <delete id="deleteCategory" parameterType="Integer">
        DELETE FROM category WHERE catId = #{catId}
    </delete>
</mapper>
